<p
  class="product__text inline-richtext{% if block.settings.text_style == 'uppercase' %} caption-with-letter-spacing{% elsif block.settings.text_style == 'subtitle' %} subtitle{% endif %}"
  {{ block.shopify_attributes }}
>
  {{- block.settings.text -}}
</p>
